h1 {
  text-align: center;
}

.invisible {
display: none;
}
.visible {
display: table;
text-align: center;
border: 3px solid black;
}
table {
border: 3px solid black;
text-align: center;
width: 33%;
}
td:hover {
background-color: green;
cursor: pointer;
}
th {
font-size: 2em;
text-align: center;
}
td {
text-align: center;
font-size: 1.5em;
border-top: 3px solid black;
}
.inputContainer {
text-align: center;
margin-bottom: 20px;
}

.tableContainer {
display: flex;
width:100%;
}
#doneTable td {
text-decoration: line-through;
}

#doneTable td:hover {
  background-color: red;
}

#memoTable td:hover {
  background-color: red;
}
